body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}
.container{
    flex: 1;

}


h1, h2, h3 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
}

body, p, a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}




.navbar{
    height:5rem;
    background-color: white;
}
.fa-compass{
    color:#fe434d;
    font-size:2rem;

}
.nav-link{
    color:#222222 !important;
}
.f-info-links a{

    text-decoration: none;
    color:#222222;
}
.f-info-links a:hover{
    
    text-decoration: underline;
    
}
.f-info-links{
    width:100%;
}
.f-info-socials {
    width:100%;
}
.f-info {
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:space-evenly;
    text-align: center;
}
.listing-title {
    font-weight: 700;   /* Strong bold */
    font-size: 1.2rem;  /* Slightly bigger */
}

.Listing-card{
    border: none !important;
    margin-bottom: 2rem;
}
.card-img-top{
    border-radius: 2 rem !important;
    width: 100;
    object-fit: cover !important;


}
.card body{
    padding: 0 !important;
}
.card-text p{
    font-weight: 400 !important;
}
.listingLink{
    text-decoration: none;
}
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}
.add-btn{
    background-color:#fe424d !important;
    border: none !important;
}
.createHeading,.createNew{
    text-align: center;
}
.editBtn{
        background-color:#fe424d !important;
    border: none !important;

}
.btn{
    display: flex;
    flex-direction: column;
}